@model Presentacion.Models.ComentariosViewModel

@{
    ViewData["Title"] = "Comentar";
}

<h1>Comentar</h1>

<h4>ComentarioDTO</h4>

<span>@ViewBag.Error</span>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Comentar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdEnvio" class="control-label"></label>
                <input asp-for="IdEnvio" class="form-control" readonly />
                <span asp-validation-for="IdEnvio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comentario.Texto" class="control-label"></label>
                <input asp-for="Comentario.Texto" class="form-control" />
                <span asp-validation-for="Comentario.Texto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
