@model Presentacion.Models.UsuarioRolesViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>UsuarioDTO</h4>

<span>@ViewBag.Error</span>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Usuario.Rol.Id" class="control-label">Rol</label>
                <select asp-for="Usuario.Rol.Id" class="form-control"
                        asp-items="@(new SelectList(Model.Roles, "Id", "Nombre"))">
                    <option value="">-- Seleccionar Rol --</option>
                </select>
                <span asp-validation-for="Usuario.Rol.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Nombre" class="control-label"></label>
                <input asp-for="Usuario.Nombre" class="form-control" />
                <span asp-validation-for="Usuario.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Apellido" class="control-label"></label>
                <input asp-for="Usuario.Apellido" class="form-control" />
                <span asp-validation-for="Usuario.Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Direccion" class="control-label"></label>
                <input asp-for="Usuario.Direccion" class="form-control" />
                <span asp-validation-for="Usuario.Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Telefono" class="control-label"></label>
                <input asp-for="Usuario.Telefono" class="form-control" type="number" />
                <span asp-validation-for="Usuario.Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Email" class="control-label"></label>
                <input asp-for="Usuario.Email" class="form-control" type="email" />
                <span asp-validation-for="Usuario.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Contrasenia" class="control-label"></label>
                <input asp-for="Usuario.Contrasenia" class="form-control" type="password" />
                <span asp-validation-for="Usuario.Contrasenia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
