@model WebCliente.Models.CambiarContraseniaViewModel

@{
    ViewData["Title"] = "CambiarContrasenia";
}

<div class="login d-flex h-100 justify-content-center align-items-center">
    <div class="d-flex flex-column gap-3 caja">
        <h1 class="h2 mb-5">Cambiar contraseña</h1>


        @if (ViewBag.Exito != null)
        {
            <div class="alert alert-success">@ViewBag.Exito</div>
        }

        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger">@ViewBag.Error</div>
        }

        <form asp-action="CambiarContrasenia">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <input asp-for="Actual" class="form-control" type="password" placeholder="Ingrese su contraseña actual" />
                <span asp-validation-for="Actual" class="text-danger"></span>
            </div>
            <div class="form-group mb-5">
                <input asp-for="Nueva" class="form-control" type="password" placeholder="Ingrese la nueva contraseña" />
                <span asp-validation-for="Nueva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="w-100 btn btn-primary" />
            </div>
        </form>
        <div>
            <a asp-action="Index" asp-controller="Envios" class="btn btn-texto w-100">Cerrar</a>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
